@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
}

.navbar{
    width: 30%;
    background: #2d3e4f;
    height: 100%;
}

.content{
    width: 70%;
}

.navbar-nav{
    margin-top: 203px;
}

.navbar-nav h1{
    color: #cf404d;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

main{
    display: flex;
}

.content-img img{
    width: 100%;
}

.navbar-nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 42px;
}

.navbar-nav ul li {
    text-transform: uppercase;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    margin-top: 40px;
    text-align: center;
}

.active{
    color: #cf404d !important;
}

.content-info-text{
    min-width: 881px;
    width: 100%;
    margin: auto;
}

.content-info h2{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #313131;
    margin: 57px 0 37px;
}

.content-info p{
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    text-align: center;
    color: rgba(115, 115, 115, 0.74);
}

.content-info-text p{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: #000000;
    margin-top: 54px;
    text-align: left;
}

.content-info{
    margin-bottom: 156px;
}

.content-title{
    background: #cf404d;
    padding: 50px 91px 49px 75px;
}

.content-title h3{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 36px;
    color: #ffffff;
}

.content-title{
    display: flex;
    justify-content: space-between;
}

.content-title .btn{
    width: 125px;
    height: 45px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    background: transparent;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
}

.content-portfolio{
    padding: 63px 96px 72px 96px;
}

.content-portfolio h3{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;  
}

.content-portfolio p{
    font-family: 'Droid Sana';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    text-align: center;
    color: rgba(115, 115, 115, 0.74);
    margin: 16px 0 72px;
}

.content-portfolio .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    width: 80%;
    margin: auto;
}