@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: center;
}

.navbar{
    width: 329px;
    height: 2817px;
    background: #2D3E4F;
}



.content{
    width: 1111px;
    height: 2817px;

}

.content-img{
    width: 100%;
    height: 800px;
    background-image: url("./img/Frame.png");
}

.content-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-title{
    width: 100%;
    height: 135px;
    background: #CF404D;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.content-portfolio{
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;  
}




.content-portfolio-img{
    width: 920px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

.img1{
    width: 215px;
    height: 215px;
    background-image: url("./img/1\ 1.png");
}

.img2{
    width: 215px;
    height: 215px;
    background-image: url("./img/2\ 1.png");
}

.img3{
    width: 215px;
    height: 215px;
    background-image: url("./img/3\ 1.png");
}

.img4{
    width: 215px;
    height: 215px;
    background-image: url("./img/4\ 1.png");
}

.img5{
    width: 215px;
    height: 215px;
    background-image: url("./img/Maroon_cat-dog_neon_steampunk_8k_897b5d92-36d6-47c2-a417-091ecf446c5e\ 1.png");
}

.img6{
    width: 215px;
    height: 215px;
    background-image: url("./img/6\ 1.png");
}

.img7{
    width: 215px;
    height: 215px;
    background-image: url("./img/a_young_woman_leaning_against_a_wall_and_putting_her_hand_o_564bd255-a56d-45b0-8732-e862e05c5406\ 1.png");
}

.img8{
    width: 215px;
    height: 215px;
    background-image: url("./img/8\ 1.png");
}